/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'UMI2DEFLINE' {
        ext.args = ''
        ext.prefix = { "${meta.id}" }
        ext.bc_pattern = params.bc_pattern
        publishDir = [
            path: { "${params.outdir}/umi_extraction" },
            mode: params.publish_dir_mode,
            pattern: "*.{fastq.gz,log}"
        ]
    }

    withName: 'ALIGN2LIBRARY' {
        ext.args = ''
        ext.prefix = { "${meta.id}" }
        ext.bowtie2_index = params.bowtie2_index
        ext.trim_3prime = params.trim_3prime
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: params.publish_dir_mode,
            pattern: "*.{sorted.bam,sorted.bam.bai}"
        ]
    }

    withName: 'COLLAPSEUMI' {
    ext.args = ''
    ext.prefix = { "${meta.id}" }
    ext.umi_separator = params.umi_separator
    ext.extract_method = params.extract_method
    publishDir = [
        path: { "${params.outdir}/deduplication" },
        mode: params.publish_dir_mode,
        pattern: "*{_deduplicated.bam,_dedup.log,_dedup_stats_*.tsv}"
    ]
    }

    withName: 'MAGECKCOUNT' {
        cpus   = 2
        memory = 4.GB
        time   = '2.h'
        ext.norm_method = params.mageck_norm_method
    }

    withName: 'FASTQC' {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,zip}"
        ]
    }

    withName: 'FASTQC_UMI' {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc_umi" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,zip}"
        ]
    }

    withName: 'GENERATE_SUMMARY' {
        publishDir = [
            path: { "${params.outdir}/summary" },
            mode: params.publish_dir_mode,
            pattern: "*.csv"
        ]
    }

}